.back-button {
  &__wrapper {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    &:not(.disabled):hover {
      cursor: pointer;
    }
  }

  &__icon {
    width: 28px;
    height: 28px;
    path {
      stroke: $color-zambezi;
    }
  }

  &__text {
    @include font-params-headline($color-zambezi);
  }
}

@media screen and (max-width: 767px) {
  .back-button {
    &__wrapper {
      margin: 14px 0;
    }

    &__icon {
      path:first-child {
        stroke: none;
      }
    }
  }
}
