.profile {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    background-color: $color-white;
    border-radius: 16px;
  }
  &__image img {
    width: 280px;
    height: 485px;
    max-width: 280px;
    max-height: 485px;
    object-fit: cover;
  }
}

.settings {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__option {
    padding: 12px 0;
    border-bottom: 1px solid $color-gainsboro;
    @include font-params-text-2(500, $color-nobel);
    &.isActive {
      @include font-params-text-2(600, $color-nero);
    }
  }
}
