.profile {
  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    max-height: 732px;
    gap: 26px;
    padding: 40px;
    background-color: $color-white;
    border-radius: 16px;
  }
  &__image img {
    width: 280px;
    height: 485px;
    max-width: 280px;
    max-height: 485px;
    object-fit: cover;
    border-radius: 8px;
  }
}

.settings {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__option {
    margin-bottom: 14px;
    padding: 12px 0;
    border-bottom: 1px solid $color-gainsboro;
    @include font-params-text-2(500, $color-nobel);
    &.isActive {
      @include font-params-text-2(600, $color-nero);
    }
    &:hover {
      cursor: pointer;
      @include font-params-text-2(500, $color-pelorous);
    }
  }
}

@media screen and (max-width: 767px) {
  .profile {
    &__wrapper {
      max-width: 343px;
      height: 380px;
      max-height: 380px;
      gap: 12px;
      padding: 28px;
    }
    &__image img {
      width: 287px;
      height: 187px;
      max-width: 287px;
      max-height: 187px;
    }
  }

  .settings {
    &__option {
      margin-bottom: 10px;
      padding-bottom: 8px;
    }
  }
}
