// Colors

$color-white: #fdfdfd;
$color-white-smoke: #f4f4f4;
$color-gainsboro: #dadada;
$color-nobel: #9c9c9c;
$color-zambezi: #595959;
$color-nero: #161616;
$color-black: #000000;
$color-pelorous: #22a0bc;
